header {
    background-color: #244751;
    color: #E8FDFF;
}

body {
    font-family: 'Fjalla One', sans-serif;
    background-color: whitesmoke;
}

main {
    background-color: white;
    padding: 16px;
}

.finstagram-post {
    margin-bottom: 48px;
}

.finstagram-post .user-info img {
    border-radius: 40%;
}

a.photo{
    transition: padding 0.5s;
}

a.photo:hover{
    padding: 10px;
}

@media screen and (max-width: 1024px) {
    header {
        padding: 0 100px;
    }
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {

}